<% include partials/header %>
<main>
  <div class="container">
    <section class="hero">
      <h1>Welcome to Expense Tracker</h1>
      <p>Bring your financial records at your finger tips</p>
      <a class="btn btn_primary" href="/users/register">Get Started</a>
    </section>
  </div>
</main>
