<% include partials/header %>

<main>
  <div class="container">
    <div class="form">
      <% if(error){ %>
      <p class="text_error"><%= error %></p>
      <% } %>
      <form action="/users/login/forgotpassword" method="POST">
        <legend class="header">Please Enter your registered Email</legend>
        <input
          class="input_handle"
          type="email"
          name="email"
          placeholder="Email"
        />

        <button type="submit" class="btn btn_sub">
          Send verification Code
        </button>
      </form>
    </div>
  </div>
</main>
