<% include partials/header %>

<main>
  <div class="container">
    <div class="form">
      <form action="/users/login/resetpassword/verify" method="POST">
        <% if(error) { %>
        <legend class="header"><%= error %></legend>
        <% } %> <% if(info) { %>
        <legend class="header"><%= info %></legend>
        <% } %>
        <input
          type="number"
          name="passcode"
          placeholder="Enter the Verificattion Code"
          class="input_handle"
        />
        <button type="submit" class="btn btn_sub">Submit</button>
      </form>
    </div>
  </div>
</main>
