<% include partials/header %>

<main>
  <div class="container">
    <div class="form reset_form">
      <form action="/users/login/resetpassword" method="POST">
        <% if(error) { %>
        <legend class="header"><%= error %></legend>
        <% } %>
        <input
          type="password"
          name="newPasswd1"
          placeholder="Enter new Password"
          class="input_handle"
        />
        <input
          type="password"
          name="newPasswd2"
          placeholder="Enter the Password again"
          class="input_handle"
        />
        <button type="submit" class="btn btn_sub">Reset Password</button>
      </form>
    </div>
  </div>
</main>
